@charset "utf-8";
/*초기화*/
h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,p{margin:0;padding:0;}
li{list-style: none;}
a{text-decoration: none;color: inherit;}
h1,h2,h3,h4,h5,h6{font-weight: normal;font-size: 100%;}
body{line-height: 1;}
table{border-collapse: collapse;}

.wrapper{border: 1px solid black;width: 602px;margin: auto;}
.title_area{padding: 45px 15px 0}
.title_area>h1{float: left;}
.title_area>a{float: right;font-size: 14px;}

.list_area{padding: 15px 15px 0}
.list_area>ul>li{margin-right: 10px;float: left;text-align: center;margin-bottom: 10px;width: 184px;word-break: keep-all;font-size: 12px;}
.list_area>ul>li:nth-child(3n){margin-right: 0;}
.list_area>ul>li> .des{margin-top: 5px;}

h1,.h1>a{height: 15px;line-height: 15px;}

.cf::after{content: ""; width: 0;height: 0;display: block;clear: both;}